.App {
    text-align: center;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .BakeryItems { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
  }
  
  .BakeryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgb(170, 158, 158);
    width: 100%; 
    max-width: 300px; 
  }
  
  .BakeryItem img {
    width: 100%;
    border-radius: 10px;
    max-width: 100%; 
  }
  